.tabitem,
.tabbodyitem {
  border: 1px solid black;
  text-align: center;
}
.transactiontab {
  margin: 0 auto;
  width: 100%;
  border-spacing: 0;
}
.tablist {
  color: white;
}

.tabitem {
  background-color: darkslategrey;
  padding: 5px 0;
  font-size: xx-large;
  font-weight: 900;
}
.tabbodyitem {
  width: 100px;
  padding: 5px 15px;
  font-size: xx-large;
  font-weight: 600;
}
